header div {
  display: flex;
  column-gap: 8px;
  align-items: center;
  width: 372px;
}

header div span {
  font-family: "SF Pro Text", sans-serif;
  font-size: 12px;
}

header div span:nth-of-type(1) {
  color: #042a30;
}

header div span:nth-of-type(2) {
  color: #697071;
}

header div span:nth-of-type(3) {
  color: #a3a3a3;
}

@media screen and (max-width: 360px) {
  header div {
    column-gap: 8px;
    row-gap: 4px;
    width: 320px;
    padding: 0 20px;
    flex-wrap: wrap;
  }
}
