/* Product Info Container */
.product-info-container {
  width: 664px;
  height: 556px;
}

/* Product Info Title */
.product-info-title {
  font-family: Montserrat;
  font-size: 40px;
  line-height: 40px;
  color: #042a30;
}

/* Mobile Product Info Title */
.product-info-title-mobile {
  display: none;
}

/* Order Details Container */
.order-details-container {
  width: fit-content;
  display: flex;
  margin-top: 40px;
  gap: 44px;
}

/* Conveyor Width Container */
.conveyor-width-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

/* Conveyor Width and Bed Length Titles */
.conveyor-width-title,
.bed-length-title {
  font-family: Arial, sans-serif;
  width: fit-content;
  display: flex;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #292e2f;
}

/* Conveyor Width Title SVG */
.conveyor-width-title svg {
  cursor: pointer;
}

/* Conveyor Width Title SVG Path */
.conveyor-width-title svg path {
  transition: fill 0.7s ease;
}

/* Hover Effect for Conveyor Width Title SVG */
.conveyor-width-title svg:hover path {
  fill: #146b87;
}

/* Info Popup */
.info-popup {
  width: 136px;
  height: 0;
  padding: 16px;
  position: absolute;
  top: -125px;
  right: 25px;
  border-radius: 8px;
  gap: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 20px 0px #0000001f;
  opacity: 0;
  transition: opacity 0.7s ease, height 0.7s ease;
  overflow: hidden;
}

/* Active Info Popup */
.info-popup.active {
  display: block;
  height: 84px;
  opacity: 1;
}

/* Info Popup Paragraph */
.info-popup p {
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 14px;
}

/* Conveyor Width List */
.conveyor-width-list {
  width: 288px;
  height: 76px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* Conveyor Width List Button */
.conveyor-width-list li button {
  width: 48px;
  height: 32px;
  border-radius: 4px;
  gap: 10px;
  background: #e0ecf0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
}

/* Selected Conveyor Width List Button */
.conveyor-width-list li button.selected {
  background-color: #146b87;
  color: #ffffff;
}

/* Last Child Conveyor Width List Button */
.conveyor-width-list li:last-child button {
  width: 108px;
  height: 32px;
  padding: 0 14px;
}

/* Focused Conveyor Width List Button */
.conveyor-width-list li button:focus {
  background: #146b87;
  transition: all 0.5s ease;
  color: #ffffff;
}

/* Conveyor Width Counter Custom */
.conveyor-width-counter-custom {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

/* Bed Length Container */
.bed-length-container {
  width: 179px;
  height: 69px;
  margin-top: 32px;
}

/* Bed Length Counter Controls */
.bed-length-counter-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

/* Bed Length Counter Controls Button */
.bed-length-counter-controls button,
.conveyor-width-counter-custom button {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  gap: 10px;
}

/* Bed Length Counter Controls Span */
.bed-length-counter-controls span,
.conveyor-width-counter-custom span {
  width: 74px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  color: #424849;
  background: #f2f5f5;
  border: 1px solid #d6dcdd;
}

/* Additional Options Container */
.additional-options-container {
  display: none;
}

/* Checkbox Options Container */
.checkbox-options-container {
  width: 316px;
  height: 188px;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Checkbox Options Container Div */
.checkbox-options-container div {
  display: flex;
  align-items: center;
  width: 292px;
  height: 44px;
  padding: 12px;
  border-radius: 8px;
  background: #e0ecf0;
}

/* Checkbox Options Container Label */
.checkbox-options-container div label {
  font-family: Arial, sans-serif;
  width: fit-content;
  display: flex;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #292e2f;
  margin-left: 8px;
  cursor: pointer;
}

/* Checkbox Options Container Input */
.checkbox-options-container input[type="checkbox"] {
  margin: 0;
  width: 20px;
  border-radius: 9px;
  height: 20px;
  outline: none;
  cursor: pointer;
}

/* Checkbox Options Container Input Before */
.checkbox-options-container input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #000;
  margin-right: 5px;
  outline: none;
}

/* Checkbox Options Container Div Image */
.checkbox-options-container div img {
  margin-left: auto;
}

/* Request Form */
.request-form {
  width: 264px;
  height: 372px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 20px;
  border-radius: 8px;
  background: #f2f5f5;
}

/* Request Form Product Details */
.request-form-product-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Request Form Span */
.request-form span {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

/* Request Form SKU Info */
.request-form-sku-info {
  width: fit-content;
  display: flex;
  gap: 6px;
}

/* SKU */
.sku {
  color: #a5b1b2;
}

/* Product Code */
.product-code {
  letter-spacing: 0.3px;
}

/* Request Indicator Container */
.request-indicator-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Request Indicator */
.request-indicator {
  width: 125px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 4px;
  background: #042a30;
}

/* Request Indicator Span */
.request-indicator span {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
}

/* Rating Container */
.rating-container {
  width: 240px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 4px;
  background: #ffdfd7;
}

/* Rating Container Span */
.rating-container span {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Stars */
.stars {
  color: #f1582b;
}

/* Read */
.read {
  color: #042a30;
}

/* Read Image */
.read img {
  width: 12px;
  height: 12px;
}

/* Mobile Read Arrow Icon */
.read-arrow-icon-mobile {
  display: none;
}

/* Divider */
.divider {
  width: 304px;
  margin-left: -20px;
  border-bottom: 1px solid #d6dcdd;
}

/* Request Form Price Details */
.request-form-price-details {
  width: 264px;
  height: 212px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Price Details */
.price-details {
  font-family: Arial, sans-serif;
  font-size: 7px;
  font-weight: 700;
  display: flex;
  align-items: baseline;
  gap: 4px;
  width: fit-content;
  color: #697071;
}

/* Request Form Price Details Paragraph Span */
.request-form-price-details p span {
  color: #146b87;
  font-size: 24px;
}

/* Price Amount Size */
.request-form-price-details .price-amount-size {
  font-size: 7px;
}

/* Product Quantity Container */
.product-quantity-container {
  display: flex;
  gap: 16px;
}

/* Product Quantity Container Button */
.product-quantity-container button {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background: #ffffff;
}

/* Product Quantity Container Span */
.product-quantity-container span {
  width: 142px;
  height: 42px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #d6dcdd;
}

/* Submit Button */
.submit-button {
  width: 264px;
  height: 44px;
  border-radius: 8px;
  gap: 8px;
  background: #f1582b;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

/* Final Price Disclaimer */
.final-price-disclaimer {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: baseline;
  gap: 4px;
  width: fit-content;
  color: #697071;
}

/* Mobile Final Price Disclaimer */
.final-price-disclaimer-mobile {
  display: none;
}

/* Media Query for Small Screens */
@media screen and (max-width: 360px) {
  .product-info-container {
    width: 320px;
    height: auto;
  }

  .product-info-title {
    display: none;
  }

  .product-info-title-mobile {
    font-family: Montserrat;
    font-size: 32px;
    line-height: 32px;
    padding: 0 20px;
    display: block;
    margin-bottom: 24px;
    color: #042a30;
  }

  .order-details-container {
    flex-direction: column;
    margin-top: 0;
  }

  .info-popup {
    display: none;
  }

  .info-popup.active {
    display: none;
  }

  .conveyor-width-container {
    padding: 0 20px;
  }

  .conveyor-width-list {
    width: 284px;
    height: 104px;
    gap: 16px;
  }

  .conveyor-width-list li button {
    width: 44px;
    height: 44px;
    border-radius: 8px;
  }

  .conveyor-width-list li:last-child button {
    width: 104px;
    height: 44px;
    padding: 0;
    border-radius: 8px;
  }

  .bed-length-container {
    width: 320px;
    padding: 0 20px;
  }

  .bed-length-counter-controls {
    gap: 20px;
  }

  .bed-length-counter-controls span {
    width: 192px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #424849;
    background: #f2f5f5;
    border: 1px solid #d6dcdd;
  }

  .options-dropdown {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-top: 32px;
    padding: 0 20px;
  }

  .checkbox-options-container {
    display: none;
    width: 320px;
    height: auto;
    padding: 12px;
  }

  .checkbox-options-container div {
    height: 20px;
  }

  .checkbox-options-container.show {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .additional-options-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
  }

  .additional-options-container p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #292e2f;
    display: flex;
    align-items: end;
    gap: 8px;
  }

  .additional-options-container button {
    width: 320px;
    height: 44px;
    border-radius: 8px;
    border: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    justify-content: space-between;
    padding: 0 16px;
    border: 1px solid #d6dcdd;
  }

  .arrow-icon {
    transition: transform 0.3s ease;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .request-form {
    width: 320px;
    height: auto;
  }

  .request-indicator-container {
    flex-direction: initial;
  }

  .rating-container {
    width: 159px;
  }

  .rating-container .read {
    display: none;
  }

  .read-arrow-icon-mobile {
    display: block;
  }

  .divider {
    width: 360px;
  }

  .request-form-price-details {
    width: 320px;
    height: auto;
  }

  .final-price-disclaimer {
    display: none;
  }

  .final-price-disclaimer-mobile {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: baseline;
    gap: 4px;
    width: fit-content;
    margin-top: -15px;
    color: #697071;
  }

  .product-quantity-container span {
    width: 190px;
  }

  .submit-button {
    width: 320px;
  }
}
